@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --body_background: #1a1a1a;
  --body_color: #ececec;
  --secondary_color: #121F45;
}

[data-theme="light"] {
  --body_background:#f1f1f1;
  --body_color: #000000;;
  --secondary_color: #c5c5c5;
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

section {
  background-color: var(--body_background);
}

section.appear {
  opacity: 1;
}

/* Home Page Design */
.introPage, .skillsPage, .aboutPage, .projectsPage {
  font-family: "Poppins", serif;
  font-weight: 700;
  color: var(--body_color);
  background-color: var(--body_background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.introPage {
  min-height: 60vh;
}
.skillsPage {
  min-height: 40vh;
  background-color: var(--secondary_color) !important;
  color: var(--body_color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.aboutPage {
  min-height: 70vh;
}
.projectsPage {
  min-height: 95vh;
}

/* About */
h1 {
  padding-bottom: 2px;
  padding-left: 5%;
}

.btnCV, .btnCert {
  background-color: #FD8302;
  border: none  ;
  color: var(--body_color);
  padding: 13px 20px;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  margin-left: 12px;
  width: 175px;
}

.info-item {
  margin-bottom: 20px;
  color: var(--body_color);
}

/* Skills */
.progress {
  height: 25px; 
  background-color: var(--body_background); 
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  text-align: center;
  line-height: 25px; 
  font-weight: bold;
  background-color: #102B4E; 
  color: var(--body_color); 
}

/* Projects */
.project-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--secondary_color);
  color: var(--body_color);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold; 
}

.title-line {
  border-bottom: 3px solid #FD8302;
  padding-bottom: 15px; 
  width: 30%;
}

.project-desc {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px #FD8302;
}

.project-card:hover .project-desc {
  opacity: 1;
  max-height: 100px;
}